name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - run: cd Leetcode 
    - run: xcodebuild test -project LeetCode.xcodeproj -scheme LeetCodeTests
