name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - run: cd Leetcode && xcodebuild test -project LeetCode.xcodeproj -scheme LeetCodeTests -destination 'platform=iOS Simulator,name=iPhone 8,OS=13.3'
